main {
    padding: 5rem 8rem;
    gap: 1.5rem;
    @include small-desktop-only {
        padding: 3rem;
    }
    @include ipad-only {
        flex-direction: column;
        padding: 3rem;
    }
    @include mobile-only {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .headerContainer {
        gap: 1.5rem;
        width: 28%;
        @include ipad-only {
        flex-direction: row;
        width: 100%;
        }
        @include mobile-only {
            width: 100%;
        }
        .header-menu {
            @include ipad-only {
                flex-direction: row;
            }
            @include mobile-only {
                display: none;
            }
        }
    }
    .feedbackContainer {
        width: 100%;
        gap: 1rem;
        @include mobile-only {
            margin-bottom: 1rem;
        }
    }
    .feedbacks {
        gap: 1.5rem;
        @include mobile-only {
            gap: 0.5rem;
        }
    }
}