/* General */
* {
    font-family: "Jost";
    color: $dark-secondary;
}

body {
    background-color: $light-background-secondary;
}

/* Typography */
h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.33px;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.25px;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: $medium-secondary;
}

span {
    font-size: 16px;
    font-weight: 700;
}

/* Button */ 

button {
    background-color: $accent-primary;
    border-radius: 10px;
    border: none;
    color: $light-primary;
    padding: 1rem;
}

/* Container */ 
.container {
    background-color: $light-primary;
    border-radius: 10px;
    padding: 1rem;
}

.filter {
    background-color: $medium-background-secondary;
    color: $medium-primary;
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: 600;
    width: fit-content;
}

.filter:hover {
    cursor: pointer;
    background-color: $hover-third;
}

.filter:active {
    background-color: $medium-primary;
    color: $light-primary;
}

/* Flex */ 

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.gap-1 {
    gap: 1rem
}

.gap-2 {
    gap: 2rem;
}