/* General */
* {
    font-family: "Jost";
}

body {
    background-color: $light-background-secondary;
}

/* Container */ 
.container {
    background-color: $light-primary;
    border-radius: 10px;
    padding: 1.5rem;
}

.small-container {
    background-color: $medium-background-secondary;
    border-radius: 10px;
    padding: 0.3rem 0.8rem;
    margin-bottom: 2.5rem;
    gap: 0.2rem;
}

/* Input */

input, textarea {
    border: none;
    border-radius: 5px;
    background-color: $medium-background-secondary;
    resize: none;
    padding: 1rem;
    color: $dark-secondary;
    
}



.addComment {
    gap: 1.5rem;
    padding: 2rem;
    input {
        width: 100%;
        height: 5rem;
    }
}

.roadmapPage{
    padding: 3rem 8rem;
    gap: 2.5rem;
    .roadmapHeader {
        background-color: $dark-secondary;
        border-radius: 10px;
        padding: 1.5rem 2rem;
        h1, h4 {
            color: $light-primary;
        }
    }
    .roadmapContainer {
        gap: 2rem;
        .statusCol {
            gap: 1.8rem;
            width: 100%;
        }
    }
}