/* Button */

/* General */
button {
    font-size: 14px;
    border-radius: 10px;
    border: none;
    padding: 0.8rem 1.8rem;
    color: $light-primary;
    cursor: pointer;
    @include mobile-only {
        padding: 0.8rem 1rem;
        font-size: 13px;
    }
}

.button-purple {
    background-color: $accent-primary;
    font-weight: 700;
    font-size: 14px;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.button-purple-dark {
    background-color: $accent-primary;
    font-weight: 700;
    font-size: 14px;
    &:hover {
        filter: brightness(115%);
        cursor: pointer;
    }
}

.button-dark {
    background-color: $dark-secondary;
    font-weight: 700;
    font-size: 14px;
    @include mobile-only {
        width: 100%;
    }
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.button-blue {
    background-color: $medium-primary;
    font-weight: 700;
    font-size: 14px;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.button-delete {
    background-color: $deleted-third;
    font-weight: 700;
    font-size: 14px;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.button-back {
    &:hover{
        text-decoration: underline;
        cursor: pointer;
        opacity: 0.8;
    }
}

.button-view {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.2px;
    text-decoration: underline;
    color: $medium-primary;
    &:hover {
        opacity: 0.7;
    }
}

/* Filter button */
.filter {
    background-color: $medium-background-secondary;
    color: $medium-primary;
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: 600;
    width: fit-content;
    border-radius: 10px;
    border: none;
}

.filter-button {
    background-color: $medium-background-secondary;
    color: $medium-primary;
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: 600;
    width: fit-content;
    border-radius: 10px;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: $hover-third;
    }
}

.filter-active {
    background-color: $medium-primary;
    color: $light-primary;
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: 600;
    width: fit-content;
    border-radius: 10px;
    border: none;
    &:hover {
        background-color: $medium-primary;
        color: $light-primary;
    }
}


/* Like button component */
.like-button {
    background-color: $medium-background-secondary;
    border-radius: 10px;
    padding: 0.5rem;
    gap: 0.2rem;
    width: 2.8rem;
    height: 3.7rem;
    @include mobile-only {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        gap: 0.4rem;
        width: 4rem;
        height: 2.3rem;
    }
    &:hover {
        background-color: $hover-third;
    }
    div {
        @include mobile-only {
            display: flex;
        }
    }
}

.like-button-roadmap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $medium-background-secondary;
    gap: 0.4rem;
    width: 4rem;
    height: 2.3rem;
    &:hover {
        background-color: $hover-third;
    }
}

.like-button-active {
    background-color: $medium-primary;
    span {
        color: $light-primary;
    }
}