/* Flex */ 

.flex {
    display: flex;
}


/* Justify */
.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.between {
    justify-content: space-between;
}


/* Align items */
.align-center {
    align-items: center;
}


/* Flex direction */
.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


/* flex wrap */
.wrap {
    flex-wrap: wrap;
}


/* Gap & width */
.gap-0-5 {
    gap: 0.5rem;
}

.gap-0-8 {
    gap: 0.8rem;
}

.gap-1 {
    gap: 1rem
}

.gap-1-5 {
    gap: 1.5rem;
}

.full {
    width: 100%;
}