/* Typography */
h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.33px;
    color: $dark-secondary;
    @include mobile-only {
        font-size: 18px;
    }
}

h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: $dark-secondary;
    @include mobile-only {
        font-size: 19px;
    }
}

h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: $dark-secondary;
}

h4 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.2px;
    color: $dark-secondary;
}

h5 {
    font-size: 16px;
    font-weight: 700;
    color: $medium-secondary;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    color: $medium-secondary;
    @include mobile-only {
        font-size: 13px;
    }
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4rem;
    color: $medium-secondary;
    @include mobile-only {
        font-size: 13px;
    }
}

a {
    text-decoration: none;
}

span {
    font-size: 16px;
    font-weight: 700;
    color: $dark-secondary;
    @include mobile-only {
        font-size: 13px;
    }
}