.feedback {
    padding: 2rem;
    position: relative;
    @include mobile-only {
        margin: 0.5rem 1.5rem;
        align-items: baseline;
    }
    &__title {
        gap: 2.5rem;
        span {
            font-size: 13px;
        }
        h3 {
            @include mobile-only {
                font-size: 13px;
            }
        }
        @include mobile-only {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }
    &__comment {
        padding-right: 1rem;
        @include mobile-only {
            position: absolute;
            bottom: 2.3rem;
            right: 1.5rem;
        }
    }
}