.feedback {
    padding: 2rem;
    position: relative;
    button {
        cursor: pointer;
        &:hover {
            background-color: $hover-third;
        }
    }
    &__title {
        gap: 3rem;
        span {
            font-size: 13px;
        }
    }
    &__comment {
        padding-right: 1rem;
    }
}

.like-button-active {
    background-color: $medium-primary;
    span {
        color: $light-primary;
    }
}