.feedback {
    padding: 2rem;
    position: relative;
    &__title {
        gap: 2.5rem;
        span {
            font-size: 13px;
        }
    }
    &__comment {
        padding-right: 1rem;
    }
}