.header {
    @include ipad-only {
        width: 40%;
        height: 100%;
    }
    @include mobile-only {
        width: 100%;
    }
}

header {
    background-image: url('../../assets/illustration/background-header.png');
    background-repeat: no-repeat;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    gap: 0.2rem;
    border-radius: 10px;
    @include ipad-only {
       background-image: url('../../assets/illustration/background-header\ 2-ipad.png');
       padding: 7.3rem 1.5rem 1.5rem 1.5rem;
       background-size: cover;
    }
    @include mobile-only {
        background-image: url('../../assets/mobile/background-header.png');
        border-radius: 0;
        padding: 1.5rem 1.5rem 1rem 1.5rem;
        background-size: cover;
        position: relative;
        z-index: 2;
    }
    h2 {
        color: $light-primary;
    }
    p {
        color: $light-primary;
        opacity: 0.75;
        font-size: 15px;
    }
}


/* Mobile menu style */

.mobile-menu-container {
    display: none;
    @include mobile-only {
        display: inherit;
    }
}

.mobile-menu-content {
    display: none;
    @include mobile-only {
        background-color:rgba(0, 0, 0, 0.55);
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
    }
    .mobile-content {
        background-color: $medium-background-secondary;
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        width: 80%;
        height: 100%;
        .mobile-div {
           display: flex;
           flex-direction: column;
           gap: 1.5rem;
           padding: 2rem 2rem;
        }
    }
}