header {
    background-image: url(../../assets/illustration/background-header.png);
    background-repeat: no-repeat;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    gap: 0.2rem;
    border-radius: 10px;
    h2 {
        color: $light-primary;
    }
    p {
        color: $light-primary;
        opacity: 0.75;
        font-size: 15px;
    }
}