.navBar {
    background-color: $dark-primary;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    @include mobile-only {
        border-radius: 0;
        padding: 0.8rem 1.5rem;
    }
    p {
        font-size: 14px;
    }
    p, span, h4 {
        color: $light-background-secondary;

    }
    &__suggestion {
        gap: 3rem;
        .suggestion-title {
            @include mobile-only {
                display: none;
            }
        }
    }
}