.statusFeedback {
    background-color: $light-primary;
    border-radius: 5px;
    border-top: 0.4rem solid $accent-secondary;
    padding: 1.5rem 1.5rem 2rem 2rem;
    .small-container {
        margin-bottom: 0;
    }
    h3 {
        &:hover {
            color: $medium-primary;
            cursor: pointer;
        }
    }
    span {
        font-size: 13px;
    }
}

.comment-off {
    color: red;
}