.category {
    .filter {
        &:hover {
            cursor: pointer;
            background-color: $hover-third;
        }
        &:active {
            background-color: $medium-primary;
            color: $light-primary;
        }
    }
}