header {
    padding: 4rem 1rem 1rem 1rem;
    width: 15%;
    gap: 0.2rem;
    border-radius: 10px;
    background: linear-gradient(157deg, rgba(40,167,237,1) 0%, rgba(163,55,246,1) 53%, rgba(232,77,112,1) 88%, rgba(244,159,133,1) 100%);
    h2 {
        color: $light-primary;
    }
    p {
        color: $light-primary;
    }
}