/* Colors */

/* Primary colors */
$accent-primary : #AD1FEA;
$medium-primary : #4661E6;
$dark-primary : #373F68;
$light-primary : white;

/* Secondary colors */
$medium-background-secondary: #F2F4FF;
$light-background-secondary: #F7F8FD;
$dark-secondary : #3A4374;
$medium-secondary : #647196;
$accent-secondary : #F49F85;

/* Third colors */
$accent-third: #62BCFA;
$deleted-third: #D73737;
$hover-third : #CFD7FF;
$border-color: #E2E4EC;

/* Breakpoints */ 
$breakpoints: ( mobile: 565px, small-device: 800px, small-desktop: 1200px );
